In [2]:
import pandas as pd

In [8]:
raw_train = pd.read_csv('Train.csv')

In [4]:
raw_train.head().T

                        0          1           2          3         4
Client Id           12001      12002       12003      12004     12005
age                   NaN        NaN         NaN        NaN       NaN
job                admin.     admin.  technician   services       NaN
own.house               1          1           0          1         0
dependents              2          3           0          4         0
marital               NaN    married     married    married    single
gender                  F          F           M          M         F
work.exp               14         16          15         14        15
education       secondary  secondary         NaN  secondary  tertiary
default                no         no          no         no        no
balance              2343         45        1270       2476         0
housing               yes         no         yes        yes       yes
loan                   no         no          no         no       yes
credit.score           81         96          92         93        75
contact           unknown    unknown     unknown    unknown   unknown
credit.history       poor   critical   very good  very good      good
day                     5          5           5          5         5
month                 may        may         may        may       may
duration             1042       1467        1389        579       562
campaign                1          1           1          1         2
pdays                  -1         -1          -1         -1        -1
previous                0          0           0          0         0
poutcome          unknown    unknown     unknown    unknown   unknown
Y                       1          1           1          1         1

In [5]:
len(raw_train)

17323

In [14]:
raw_train.T

,0,1,2,3,4,5,6,7,8,9,...,17313,17314,17315,17316,17317,17318,17319,17320,17321,17322
Client Id,12001,12002,12003,12004,12005,12006,12007,12008,12009,12010,...,29314,29315,29316,29317,29318,29319,29320,29321,29322,29323
age,NaN,NaN,NaN,NaN,NaN,60,NaN,NaN,NaN,NaN,...,59,34,49,59,63,34,36,31,57,NaN
job,admin.,admin.,technician,services,NaN,retired,NaN,admin.,services,technician,...,blue-collar,admin.,management,management,retired,management,services,management,blue-collar,entrepreneur
own.house,1,1,0,1,0,0,0,1,1,1,...,1,0,0,0,0,0,1,1,1,1
dependents,2,3,0,4,0,2,4,4,2,3,...,3,0,4,3,2,1,0,1,3,2
marital,NaN,married,married,married,single,divorced,married,NaN,NaN,NaN,...,married,NaN,divorced,married,married,married,married,NaN,NaN,married
gender,F,F,M,M,F,F,M,F,F,M,...,M,M,M,M,M,M,M,F,F,F
work.exp,14,16,15,14,15,17,3,6,11,17,...,13,13,13,10,12,16,19,14,13,17
education,secondary,secondary,NaN,secondary,tertiary,secondary,secondary,secondary,secondary,secondary,...,secondary,secondary,NaN,tertiary,NaN,tertiary,secondary,tertiary,secondary,secondary
default,no,no,no,no,no,no,no,no,no,no,...,no,no,no,no,no,no,no,no,no,no
balance,2343,45,1270,2476,0,545,1,869,5090,484,...,448,592,1405,101,48,158,4721,877,668,2971
housing,yes,no,yes,yes,yes,yes,yes,no,yes,yes,...,no,yes,no,no,no,no,no,no,no,no
loan,no,no,no,no,yes,no,no,no,no,no,...,no,no,no,yes,no,no,no,no,no,no
credit.score,81,96,92,93,75,83,95,86,84,NaN,...,86,94,86,91,92,85,92,84,84,86
contact,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,...,unknown,unknown,unknown,unknown,cellular,cellular,cellular,cellular,telephone,cellular
credit.history,poor,critical,very good,very good,good,very good,very good,good,verygood,critical,...,good,good,poor,critical,very good,good,critical,poor,poor,poor
day,5,5,5,5,5,6,6,6,6,6,...,8,8,8,9,9,9,9,9,17,17
month,may,may,may,may,may,may,may,may,may,may,...,jun,jun,jun,jun,jun,jun,jun,jun,nov,nov
duration,1042,1467,1389,579,562,1030,608,1677,1297,703,...,198,49,29,29,251,190,150,192,508,361
campaign,1,1,1,1,2,1,1,1,3,1,...,1,1,1,1,1,1,1,1,4,2
pdays,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,...,651,-1,-1,686,-1,92,92,93,-1,188
previous,0,0,0,0,0,0,0,0,0,0,...,7,0,0,2,0,9,5,7,0,11
poutcome,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,unknown,...,other,unknown,unknown,failure,unknown,success,success,other,unknown,other
Y,1,1,1,1,1,1,1,1,1,1,...,0,0,0,0,1,1,1,1,0,0

In [7]:
len(raw_train)

8311

In [13]:
raw_train['age']

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  if __name__ == '__main__':

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [15]:
raw_train.dropna(inplace=True)