In [2]:

from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display
from sklearn import metrics

In [4]:
import pandas as pd

In [5]:
train = pd.read_csv('Train dataset-1.csv')

In [6]:
train.describe()

//anaconda/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,Registration Number,Annual Turnover,Facebook Popularity Quotient,Instagram Popularity Quotient,Fire Audit,Liquor License Obtained,Situated in a Multi Complex,Dedicated Parking,Open Sitting Available,Resturant Tier,...,Overall Restaurant Rating,Live Music Rating,Comedy Gigs Rating,Value Deals Rating,Live Sports Rating,Ambience,Lively,Service,Comfortablility,Privacy
count,3493.000000,3.493000e+03,3394.000000,3437.000000,3493.000000,3493.000000,3493.000000,3493.000000,3493.000000,3444.000000,...,3281.000000,2728.000000,1010.000000,786.000000,205.000000,3468.000000,3493.000000,3493.000000,3493.00000,3493.000000
mean,21747.000000,3.072571e+07,77.938715,74.404684,0.788720,0.988262,0.808188,0.801889,0.800172,1.926539,...,8.479427,4.012830,2.932673,3.655216,3.590244,6.423010,6.874893,4.546808,3.23132,6.275122
std,1008.486572,2.165125e+07,9.829169,10.940327,0.408275,0.107719,0.393783,0.398633,0.399928,0.260930,...,1.287233,1.009044,0.859519,0.973250,0.906351,2.050026,1.847131,1.877063,1.99305,1.895057
min,20001.000000,3.500000e+06,43.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,...,6.000000,1.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.00000,0.000000
25%,20874.000000,1.800000e+07,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,6.000000,3.000000,2.00000,5.000000
50%,21747.000000,3.000000e+07,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,7.000000,5.000000,3.00000,6.000000
75%,22620.000000,3.700000e+07,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,8.000000,6.000000,5.00000,8.000000
max,23493.000000,4.000000e+08,97.760000,98.700000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,...,10.000000,8.000000,6.000000,7.000000,6.000000,10.000000,10.000000,10.000000,10.00000,10.000000

In [10]:
train.pivot_table

<bound method pivot_table of       Registration Number  Annual Turnover              Cuisine        City  \
0                   20001         42000000         indian,irish   Bangalore
1                   20002         50000000         indian,irish      Indore
2                   20003         32500000      tibetan,italian     Chennai
3                   20004        110000000     turkish,nigerian     Gurgaon
4                   20005         20000000        irish,belgian     Manesar
5                   20006         30000000        tibetan,greek   Hyderabad
6                   20007         30000000         indian,irish    Banglore
7                   20008         40000000         indian,irish   Bangalore
8                   20009         60000000  chinese,salvadorian       Noida
9                   20010         23000000     algerian,belgian     Kolkata
10                  20011         60000000           welsh,thai   Bangalore
11                  20012         45000000       peruvian,cuban        Pune
12                  20013         27000000           welsh,thai        Pune
13                  20014         20000000        japanese,thai     Gurgaon
14                  20015         30000000         indian,irish   Bangalore
15                  20016         35000000      tibetan,italian          -1
16                  20017         32500000     turkish,nigerian       Noida
17                  20018         25000000     british,japanese     Gurgaon
18                  20019         12000000       nigerian,cajun     Gurgaon
19                  20020         32500000        tibetan,greek        Pune
20                  20021         32000000        tibetan,greek   Bangalore
21                  20022         20000000        tibetan,greek          -1
22                  20023         19000000    algerian,algerian   Hyderabad
23                  20024         18000000     british,japanese   Bangalore
24                  20025         33500000        japanese,thai   Hyderabad
25                  20026         43500000        polish,jewish     Gurgaon
26                  20027         34500000     turkish,nigerian   Bangalore
27                  20028         30000000        tibetan,greek   Bangalore
28                  20029         14500000         indian,irish       Noida
29                  20030         22000000         indian,irish     Gurgaon
...                   ...              ...                  ...         ...
3463                23464         52000000        tibetan,greek       Noida
3464                23465         20000000      turkish,sapnish       Noida
3465                23466         20000000     algerian,belgian          -1
3466                23467         18000000  chinese,salvadorian      KANPUR
3467                23468          4500000      tibetan,italian          -1
3468                23469          3500000      tibetan,italian   hyderabad
3469                23470         38500000     algerian,belgian   Bangalore
3470                23471         18000000        swedish,greek     Lucknow
3471                23472         11000000    algerian,algerian   Banglore
3472                23473         10000000         indian,irish          -1
3473                23474         30000000  chinese,salvadorian   Bangalore
3474                23475         18000000         indian,irish          -1
3475                23476         31000000         indian,irish        Pune
3476                23477         25000000         indian,irish     Kolkata
3477                23478         55500000        polish,jewish        Pune
3478                23479         55000000        tibetan,greek     Chennai
3479                23480        200000000        swedish,greek       Noida
3480                23481         31500000     british,japanese        Pune
3481                23482         45000000         indian,irish       Noida
3482                23483         36000000           welsh,thai          -1
3483                23484         48000000     algerian,belgian   Bangalore
3484                23485         11000000     algerian,belgian        pune
3485                23486        200000000      turkish,sapnish        Pune
3486                23487         12000000     algerian,belgian       pondy
3487                23488          9500000       peruvian,cuban     Gurgaon
3488                23489         40500000     algerian,belgian          -1
3489                23490         32500000        tibetan,greek  Bangalore
3490                23491         42500000         indian,irish     Chennai
3491                23492         53000000        japanese,thai   Bangalore
3492                23493         12000000         indian,irish   Ghaziabad

     Restaurant Location Opening Day of Restaurant  \
0      Near Business Hub                14-02-2009
1         Near Party Hub                29-09-2008
2      Near Business Hub                30-07-2011
3         Near Party Hub                30-11-2008
4         Near Party Hub                22-02-2010
5         Near Party Hub                28-06-2011
6         Near Party Hub                28-01-2012
7         Near Party Hub                23-05-2011
8         Near Party Hub                12-09-2010
9         Near Party Hub                08-06-2012
10        Near Party Hub                19-06-2008
11        Near Party Hub                05-02-2009
12        Near Party Hub                16-11-2009
13        Near Party Hub                18-10-2009
14        Near Party Hub                28-06-2011
15     Near Business Hub                12-01-2009
16        Near Party Hub                06-06-2011
17        Near Party Hub                23-09-2006
18        Near Party Hub                03-12-2011
19     Near Business Hub                25-11-2009
20     Near Business Hub                21-07-2007
21     Near Business Hub                15-08-2010
22        Near Party Hub                18-01-2011
23        Near Party Hub                25-07-2005
24        Near Party Hub                23-06-2012
25     Near Business Hub                25-02-2010
26        Near Party Hub                31-01-2007
27        Near Party Hub                28-01-2012
28        Near Party Hub                15-01-2013
29        Near Party Hub                07-06-2011
...                  ...                       ...
3463      Near Party Hub                05-11-2008
3464   Near Business Hub                27-06-2013
3465      Near Party Hub                31-03-2011
3466      Near Party Hub                31-01-2010
3467      Near Party Hub                05-05-2010
3468      Near Party Hub                04-01-2012
3469   Near Business Hub                27-05-2009
3470      Near Party Hub                14-02-2009
3471      Near Party Hub                27-01-2010
3472      Near Party Hub                24-12-2008
3473   Near Business Hub                04-07-2011
3474      Near Party Hub                03-12-2009
3475      Near Party Hub                08-12-2010
3476   Near Business Hub                15-09-2009
3477      Near Party Hub                01-08-2007
3478      Near Party Hub                12-05-2010
3479      Near Party Hub                23-12-2008
3480      Near Party Hub                06-05-2011
3481      Near Party Hub                03-01-2010
3482      Near Party Hub                01-10-2009
3483      Near Party Hub                15-03-2007
3484      Near Party Hub                01-10-2011
3485      Near Party Hub                20-04-2011
3486      Near Party Hub                08-03-2009
3487      Near Party Hub                20-03-2010
3488      Near Party Hub                20-03-2009
3489      Near Party Hub                05-02-2012
3490      Near Party Hub                21-05-2009
3491      Near Party Hub                22-06-2008
3492      Near Party Hub                23-04-2009

      Facebook Popularity Quotient       Endorsed By  \
0                            84.30      Not Specific
1                            85.40  Tier A Celebrity
2                            85.00  Tier A Celebrity
3                            85.60  Tier A Celebrity
4                              NaN  Tier A Celebrity
5                            89.92      Not Specific
6                            86.08      Not Specific
7                            92.00  Tier A Celebrity
8                            90.00  Tier A Celebrity
9                              NaN  Tier A Celebrity
10                           88.60      Not Specific
11                           81.00  Tier A Celebrity
12                           83.60      Not Specific
13                           60.80  Tier A Celebrity
14                             NaN      Not Specific
15                           69.54  Tier A Celebrity
16                           85.80  Tier A Celebrity
17                             NaN  Tier A Celebrity
18                           65.00      Not Specific
19                           79.00  Tier A Celebrity
20                           91.20      Not Specific
21                           75.67      Not Specific
22                             NaN      Not Specific
23                           70.00      Not Specific
24                             NaN      Not Specific
25                           86.80  Tier A Celebrity
26                           90.88      Not Specific
27                           76.80      Not Specific
28                           84.00  Tier A Celebrity
29                           64.00  Tier A Celebrity
...                            ...               ...
3463                         65.80      Not Specific
3464                         59.00      Not Specific
3465                         79.60  Tier A Celebrity
3466                         81.30      Not Specific
3467                         67.00      Not Specific
3468                         85.30      Not Specific
3469                           NaN      Not Specific
3470                         74.50      Not Specific
3471                         64.48      Not Specific
3472                         80.60  Tier A Celebrity
3473                         93.00  Tier A Celebrity
3474                         73.10      Not Specific
3475                         65.56      Not Specific
3476                         83.50      Not Specific
3477                         73.30      Not Specific
3478                         86.00      Not Specific
3479                         59.00      Not Specific
3480                         80.00      Not Specific
3481                         80.60  Tier A Celebrity
3482                         80.80      Not Specific
3483                         63.80      Not Specific
3484                         84.00      Not Specific
3485                         69.50      Not Specific
3486                         74.40      Not Specific
3487                         68.00      Not Specific
3488                         69.10      Not Specific
3489                         91.00      Not Specific
3490                         80.83      Not Specific
3491                         79.40      Not Specific
3492                         72.00      Not Specific

      Instagram Popularity Quotient  Fire Audit   ...     \
0                             95.80           1   ...
1                             85.00           1   ...
2                             68.20           1   ...
3                             83.60           0   ...
4                             76.80           1   ...
5                             87.00           1   ...
6                             67.50           1   ...
7                             91.00           1   ...
8                               NaN           0   ...
9                               NaN           1   ...
10                              NaN           1   ...
11                              NaN           1   ...
12                              NaN           1   ...
13                              NaN           0   ...
14                            79.90           1   ...
15                            64.43           1   ...
16                            74.80           1   ...
17                            66.66           1   ...
18                            64.80           1   ...
19                            62.20           0   ...
20                            84.63           1   ...
21                            74.40           1   ...
22                            95.20           1   ...
23                            43.42           1   ...
24                            90.00           1   ...
25                            82.80           0   ...
26                            82.50           0   ...
27                            83.00           1   ...
28                            68.00           1   ...
29                            74.00           0   ...
...                             ...         ...   ...
3463                          65.00           1   ...
3464                          73.00           1   ...
3465                          69.60           1   ...
3466                          72.20           1   ...
3467                          82.60           1   ...
3468                          85.40           1   ...
3469                          80.30           1   ...
3470                          73.17           0   ...
3471                          52.34           1   ...
3472                          73.20           1   ...
3473                          89.40           1   ...
3474                          74.60           1   ...
3475                          60.00           1   ...
3476                          63.50           1   ...
3477                          75.60           1   ...
3478                          89.60           1   ...
3479                          65.00           1   ...
3480                          81.00           1   ...
3481                          76.00           1   ...
3482                          82.00           1   ...
3483                          77.11           1   ...
3484                          66.00           1   ...
3485                          68.50           1   ...
3486                          68.80           0   ...
3487                          70.00           1   ...
3488                          62.11           1   ...
3489                          96.30           1   ...
3490                          86.80           1   ...
3491                          86.00           1   ...
3492                          67.00           1   ...

      Overall Restaurant Rating  Live Music Rating  Comedy Gigs Rating  \
0                          10.0                4.0                 NaN
1                           9.0                NaN                 4.0
2                           8.0                3.0                 NaN
3                           9.0                6.0                 NaN
4                           6.0                NaN                 2.0
5                           NaN                6.0                 NaN
6                           7.0                4.0                 NaN
7                           9.0                NaN                 NaN
8                          10.0                7.0                 3.0
9                           8.0                3.0                 3.0
10                         10.0                4.0                 NaN
11                          9.0                6.0                 NaN
12                          7.0                NaN                 2.0
13                          8.0                3.0                 3.0
14                          NaN                4.0                 NaN
15                          7.0                3.0                 NaN
16                          NaN                5.0                 NaN
17                          9.0                5.0                 NaN
18                          8.0                4.0                 NaN
19                          9.0                5.0                 NaN
20                         10.0                4.0                 NaN
21                         10.0                4.0                 NaN
22                          NaN                4.0                 NaN
23                         10.0                NaN                 3.0
24                          7.0                4.0                 NaN
25                         10.0                5.0                 NaN
26                          9.0                5.0                 3.0
27                          9.0                NaN                 4.0
28                          7.0                3.0                 2.0
29                          8.0                3.0                 NaN
...                         ...                ...                 ...
3463                        7.0                3.0                 NaN
3464                        7.0                3.0                 NaN
3465                        7.0                4.0                 2.0
3466                        7.0                NaN                 2.0
3467                        9.0                2.0                 4.0
3468                        8.0                4.0                 NaN
3469                       10.0                4.0                 1.0
3470                        9.0                5.0                 NaN
3471                        6.0                NaN                 2.0
3472                        8.0                3.0                 4.0
3473                        9.0                5.0                 NaN
3474                        9.0                NaN                 4.0
3475                       10.0                4.0                 NaN
3476                        8.0                NaN                 3.0
3477                        8.0                4.0                 NaN
3478                        8.0                6.0                 NaN
3479                        7.0                3.0                 NaN
3480                        NaN                NaN                 NaN
3481                        8.0                NaN                 3.0
3482                        9.0                5.0                 NaN
3483                       10.0                4.0                 NaN
3484                        6.0                NaN                 NaN
3485                        8.0                3.0                 NaN
3486                        8.0                3.0                 3.0
3487                        6.0                5.0                 NaN
3488                        9.0                5.0                 NaN
3489                        NaN                4.0                 NaN
3490                        8.0                NaN                 NaN
3491                        7.0                3.0                 2.0
3492                        NaN                1.0                 NaN

      Value Deals Rating  Live Sports Rating Ambience Lively  Service  \
0                    NaN                 NaN      8.0      8        6
1                    NaN                 NaN      5.0      7        7
2                    NaN                 NaN      7.0     10        5
3                    NaN                 NaN      7.0      7        4
4                    NaN                 NaN      NaN      6        2
5                    4.0                 NaN      6.0      5        0
6                    3.0                 NaN     10.0      6        2
7                    NaN                 4.0      6.0      9        5
8                    NaN                 NaN      6.0      8        3
9                    NaN                 NaN      4.0      8        3
10                   NaN                 NaN      7.0      8        5
11                   NaN                 NaN      2.0      9        6
12                   NaN                 NaN      7.0      8        3